[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
sentry-sdk = "*"
python-dotenv = "*"
django-heroku = "*"
django-import-export = "*"
pillow = "*"
psycopg2 = "*"
dj-database-url = "*"
requests = "*"

[dev-packages]
flake8 = "*"
pytest-django = "*"

[requires]
python_version = "3.10"
