{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br><br>
<section class="page-section bg-primary" id="about">
<h1>Caractéristiques du produit de substitution</h1>
<div style= "background-image: url('{{ substituted.image_url }}'); background-repeat: no-repeat;background-position: center; background-color: red">
<br><br>
<h2>{{ substituted.product_name }}</h2>
<br><br>
</div>
<br>
<h2>Vous pouvez remplacer cet aliment <br/> qui a un nutriscore de 
<strong>{{ substituted.nutriscore_grade }}</strong> par:</h2>
    <div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
    {% for product in substitutions %}
        <div class="col-lg-4 col-sm-6">
        <form action="{% url 'description_product' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="product_id" id="{{ product.id }}" value="{{ product.id }}"/>
            <p>Nutriscore: {{ product.nutriscore_grade }}</p>
            <input type="image" src="{{ product.image_url }}" alt="{{ product.product_name }}" width="200" height="300" class="portfolio-box"/>
            <figcaption class="portfolio-box">{{ product.product_name }}</figcaption>
        </form>
        <form action="{% url 'favorites' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="product_id" id="{{ product.id }}" value="{{ product.id }}"/>
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            <input type="submit" name="submit_favorite" value="sauvegarder"/>
        </form>
        <br><br>
        </div>
        {% endfor %}
        </div>
</section>
{% endblock %}
