.container {
    display: flex;
    flex-wrap: wrap;
  }
  .product {
      margin: auto;
      flex: 0 0 0 33.3333%;
  }

#background_photo {
    color:black;
    background-color:white;
    background-image:url(../assets/img/olenka-kotyk-eqsEZNCm4-c-unsplash.jpg);
    margin:0;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
}

.logo_pure_beurre{
    width: 50px;
    height: 50px;
}
.helptext {
    display: block;
    border: 1px solid #166ab3;
    background-color: #d5dcff;
    border-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;}