{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} Pure Beurre{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo_pur_beurre-favicon.png' %}" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/products_style.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/e78a96a397.js"></script>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <section class="page-section bg-primary" id="about">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a href="{% url 'homepage' %}"><img src="{% static 'assets/img/logo_pur_beurre.png' %}" alt="logo Pure Beurre" class="logo_pure_beurre"/></a>
                <a class="navbar-brand" href="{% url 'homepage' %}">Pure Beurre</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item">
                            <form action="{% url 'result_products' %}" method="POST" class="form" name="form_search">
                                {% csrf_token %}
                                {{ form_search }}
                            </form></li>
                            {% if user.is_authenticated %}
                        <li class="nav-item"><a href="{% url 'spaceUser' %}"><img src="{% static 'assets/img/icons8-utilisateur-30.png' %}" alt="mon compte {{ request.user }}"/></a></li>
                            {% endif %}
                            {% if not user.is_authenticated %}
                            <li class="nav-item"><a href="{% url 'register' %}"><img src="{% static 'assets/img/add-user.jpg' %}" alt="Créer un compte"/></a></li>
                            {% endif %}
                        <li class="nav-item"><a href="{% url 'favorites' %}"><img src="{% static 'assets/img/noun_Carrot_29691.png' %}" alt="mes aliments"></li>
                        <li class="nav-item"><a href="{% url 'logout' %}"><img src="{% static 'assets/img/se-deconnecter.png' %}" alt="se deconnecter"></li></a>
                    </ul>
                </div>
            </div>
        </nav>
        </section>
        <!-- Masthead-->
        <section class="page-section">
                        {% block content %}
                        {% endblock %}
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5 row">
            <div class="col-md-6 text-center"><a href="{% url 'mentions_legales' %}">Mention Légales</a></div>
            <address class="col-md-6 text-center"><a href="{% url 'homepage' %}#contact">Contact</a></address>
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - Company Name</div></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
